html {
  font-family: Roboto;
  color: rgba(0, 0, 0, 0.85);
  min-width: 320px;
}
html button {
  border: none;
  background: transparent;
}
html h1 {
  font-weight: 700;
}
html a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}
html a:visited {
  color: rgba(0, 0, 0, 0.85);
}
html body {
  margin: 0px;
  width: 100%;
}
html body header {
  height: 75px;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: start;
}
html body header .logo {
  margin: auto;
}
html body header .home .icon {
  font-size: 24px;
  margin-left: 24px;
  margin-right: -48px;
}
html body main .content {
  padding: 25px;
}
html body main .favorite-action {
  border: solid 2px #FF79DA;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
html body main .favorite-action:hover {
  background-color: #FF79DA;
}
html body main .favorite {
  background-color: #FF79DA;
}
html body main .card {
  background-color: white;
  border-radius: 24px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
html body main .result-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
html body main .locator {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
html body main .locator .icons {
  width: 30px;
  height: 30px;
  background: #343434;
  margin-right: 15px;
}
html body main .catch-phrase {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
html body main .catch-phrase .secondary {
  font-size: 130%;
  font-weight: 300;
  margin-bottom: 20px;
}
html body main .catch-phrase .call-to-action {
  margin: 30px;
  min-height: 60px;
  border-radius: 35px;
  padding: 16px 24px 16px 24px;
  background-color: #FF79DA;
  color: white;
  font-size: large;
  margin-bottom: 60px;
}
html body main .catch-phrase .call-to-action:hover {
  background-color: #9356DC;
}
html body main .functionning .card {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: 500;
  padding: 24px;
  margin: 24px 0px;
  margin-left: 20px;
  position: relative;
}
html body main .functionning .card .order-num {
  position: absolute;
  top: 35px;
  left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
}
html body main .functionning .card .icons {
  background-color: #636363;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}
html body main .functionning .card .last {
  background-color: #9356DC;
}
html body main .functionning .last {
  background-color: rgba(147, 86, 220, 0.1);
}
html body main .restaurants {
  background-color: #f6f6f6;
}
html body main .restaurants .result-card {
  position: relative;
  margin-bottom: 24px;
}
html body main .restaurants .result-card img {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  object-fit: cover;
  width: 100%;
  height: 200px;
  z-index: 1;
}
html body main .restaurants .result-card .new-restaurant {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 30px;
  width: 100px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: rgb(0, 118, 84);
}
html body main .restaurants .result-card .wrapper {
  padding: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body main .restaurants .result-card .wrapper .description .name {
  font-weight: bold;
  font-size: 140%;
}
html body main .restaurants .result-card .wrapper .description .location {
  font-size: 120%;
  margin-top: 17px;
  margin-bottom: 7px;
}
html body main .restaurant-detail img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  z-index: 1;
}
html body main .restaurant-detail .menu {
  margin-top: -32px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  height: max-content;
  z-index: 2;
}
html body main .restaurant-detail .menu .name {
  font-family: Shrikhand;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html body main .restaurant-detail .menu .section {
  margin-bottom: 36px;
}
html body main .restaurant-detail .menu .section .title {
  text-transform: uppercase;
  margin-bottom: 8px;
}
html body main .restaurant-detail .menu .section .separator {
  height: 3px;
  width: 42px;
  margin-bottom: 16px;
  background-color: #99E2D0;
}
html body main .restaurant-detail .menu .section .result-card {
  height: 62px;
  border-radius: 16px;
  margin-bottom: 12px;
  transform: translateY(12px);
  overflow: hidden;
  opacity: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
html body main .restaurant-detail .menu .section .result-card.first {
  animation: fadeIn 400ms ease-in 200ms forwards, slideUp 1s ease 200ms forwards;
}
html body main .restaurant-detail .menu .section .result-card.second {
  animation: fadeIn 400ms ease-in 400ms forwards, slideUp 1s ease 400ms forwards;
}
html body main .restaurant-detail .menu .section .result-card.third {
  animation: fadeIn 400ms ease-in 600ms forwards, slideUp 1s ease 600ms forwards;
}
html body main .restaurant-detail .menu .section .result-card .wrapper {
  width: calc(100% + 72px);
  margin: 12px;
  white-space: nowrap;
  overflow: hidden;
}
html body main .restaurant-detail .menu .section .result-card .wrapper .dish-name {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
html body main .restaurant-detail .menu .section .result-card .wrapper .dish-info {
  display: flex;
  justify-content: space-between;
  font-size: 90%;
}
html body main .restaurant-detail .menu .section .result-card .wrapper .dish-info .garnish {
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 6px;
}
html body main .restaurant-detail .menu .section .result-card .wrapper .dish-info .price {
  font-weight: 500;
}
html body main .restaurant-detail .menu .section .result-card .validate {
  background-color: #99E2D0;
  height: 100%;
  padding: 24px;
  font-size: 24px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideRight 400ms ease 0ms both;
}
html body main .restaurant-detail .menu .section .result-card:hover .validate {
  transform: translateX(72px);
  animation: slideLeft 400ms ease 0ms both;
}
html body main .restaurant-detail .menu .section .result-card:hover .validate > * {
  animation: rotate 400ms ease 0ms forwards;
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes slideUp {
  100% {
    transform: translateY(0);
  }
}
@keyframes slideLeft {
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  100% {
    transform: translateX(72px);
  }
}
@keyframes rotate {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html body main footer {
  background-color: #343434;
  color: white;
  width: 100%;
  height: 250px;
}
html body main footer .logo {
  margin: 25px;
}
html body main footer .part {
  margin: 10px 25px;
}

@media screen and (min-width: 1024px) {
  .functionning {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .functionning h1 {
    flex: 0 0 100%;
  }
  .functionning .card {
    width: 26%;
    min-width: 250px;
  }
  .restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants h1 {
    flex: 0 0 100%;
  }
  .restaurants .result-card {
    width: 24%;
  }
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu .name {
    flex: 0 0 100%;
  }
  .menu .section {
    width: 29%;
    min-width: 250px;
  }
}

/*# sourceMappingURL=index.css.map */
